form {
    margin: 50px auto;
    padding: 30px 30px;
    max-width: 450px;
    border: 1px solid black; 
    background-color: white;   
}


.logo {
    width: 250px;
    height:90px;
}

.seperatorBlock {
    content: "";
    width: 3px;
    height: 50px;
    background-color: #8e9092;
    border-radius: 50px;
    z-index: 10;
    position: absolute;
    left: 274px;
}



.roundedCorners {
    border-radius: .5em;
}

.card2 {
    width: 250px;
}

.cardimgfix {
    width: 100%;
}

.slidesize {
    width: 200%;
}

.survey {
    text-align:center;
}

.question {
    display: block;
}

.control {
    text-align: left;
    margin-bottom: 25px;
}

input, textarea {
    border-radius: 10px;
    border:1px solid lightgray;
}

.control input,
.control textarea {
    display: block;
    padding: 10px;
    width: 99%;
}

.control input[type="radio"] {
    display: inline-block;
    width:auto;
}

.aboutImg {
    width: 470px;
    border-radius: .5em;
    border: 5px solid white;
}

.submit {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background-color: #3dd1cc;
}

.txFix {
    text-decoration: none;
}

.submitx {
    text-decoration: none;
}

.surveybg {
    background-color: #006663;
}

.galatx {
    text-align: center;
    color: white;
}

.signup {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 30px;
    border-radius: 20px;
}

.fix {
    text-align: center;
    color:white;
}

.white {
    color:white;
}

.infoimg {
    max-width: 140%;
    height: auto;
    border-radius: 20px;
    position: relative;
    top: 10vh;
}


.bigtx {
    font-size: 23px;
    margin-left: -20%;
}

.h3SizeUp {
    font-size: 40px;

}

.bgwhite {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.footerfix {
    color: white;
    text-decoration: none; 
}

.footerfix:hover {
    text-decoration: underline;
}

.thanktx {
    color:white;
    text-decoration: none;
}

.bd {
    border: 2px solid white;
    border-radius: 0.5em;
    background: #3DD1CC;
}


.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bannerContent {
    text-align: center;

}

.bannerContent h1 {
    font-size: 100px;
    color: white;
    font-weight: 600;

    text-shadow: 
    0 0 0.125em white,
    0 0 0.25em black ;
    -webkit-text-stroke: 2px white;
    color: transparent;

}

.bannerContent h1:hover {
    color: white;
    transition: all 0.5s ease-out;
}

.videoSizer {
    width: 100%;
    position: absolute;
    z-index: -1;
}

@media screen and (min-aspect-ratio: 16/9) {
    .videoSizer {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-aspect-ratio: 16/9) {
    .videoSizer {
        width: auto;
        height: 100%;
    }
}

.bannerContent::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: -0vh;
    background: linear-gradient(to top, #212529, transparent);
    z-index: 10;
}


.bannerContent a {
    margin-top: 3vh;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    color: white;
    text-shadow: 
    0 0 0.125em black,
    0 0 0.25em black ;
    box-shadow: 
    0 0 0.125em white,
    0 0 1.25em black ;
}

.bannerContent a:hover {
    box-shadow: 
    0 0 0.125em white,
    0 0 1.25em white ;
    transition: all 0.5s ease-out;
}


